<div class="container">
	
	<h1>YO YO YO Here's your games, kid!</h1>
	<%= render partial: 'games_avail', locals: { player: current_user.id } %>
	<%= render partial: 'games_record', locals: { player: current_user.id} %>
</div>