<h1>Scrapples to Scrapples</h1>

<div id="played-cards">
<h2>Played Cards</h2>
  <% if @my_play %>
    <%= render partial: 'cards/show', object: @card = @my_play.card %>
  <% end %>
</div>

<h2>Your Hand</h2>

<div id="hand">
  <% @appearance.held_cards.each do |card| %>
    <%= render partial: 'cards/show', object: @card = card %>
  <% end %>
</div>

<!-- card highlights on hover -->
<!-- play button enabled when card highlighted -->
<!-- play button ajaxes and appends card to played cards div -->
