<nav>
  <p><a href="/">Scrapples2Scrapples</p></a>
  <div class="main_header">
    <ul>
    <% if logged_in? %>
      <li><%= link_to "Log out", logout_path, method: "delete" %> </li>
      <li><%= link_to "Profile", current_user %></li>
    <% end %>
    </div>
	</ul>
</nav>

